@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-900 text-gray-100;
}
/* Chrome, Safari, Edge, Opera için okları kaldır */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox için okları kaldır */
input[type=number] {
  -moz-appearance: textfield;
}